<a href="https://colab.research.google.com/github/juri123123/DALC_Scala/blob/main/5%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
5주 과제
Pandas 심화

In [ ]:
1)csv 파일 : 쉼표로 구분, 확장자 .csv

In [1]:
#읽기
import pandas as pd
csv_test = pd.read_csv()

NameError: ignored

In [ ]:
#쓰기
csv_test.to_cst()

In [ ]:
rc = pd.read_csv(경로, header = None, encoding = 'euc-kr')

In [ ]:
rc.columns=['','','']

In [ ]:
rc.head(), rc.tail()

In [ ]:
print(rc.shape) #행의 개수, 열의 개수 반환

In [ ]:
print(rc.info()) #데이터프레임의 클래스, 인덱스, 열, 등등 정보 출력

In [ ]:
print(rc.dtypes) #모든 열에 대한 정보
print(rc.초미세먼지.dtypes)

In [ ]:
print(rc.describe()) # 평균, 표준편차, 최대값, 최소값, 중간값 등

In [ ]:
print(rc.count()) #각 열이 갖고 있는 요소의 개수
#각 열의 고유값(행 인덱스), 개수는 데이터가 되는 시리즈 객체
print(rc.['초미세먼지'].value_counts())

In [ ]:
rc.mean() #평균
rc['초미세먼지'].mean()
rc.median #중간값균
rc['초미세먼지'].median()
rc.max()
rc.min()
rc.std() #표준편차
rc.corr() #모든 열에 대해 2개씩 짝을 짓고 상관계수를 계산
rc['초미세먼지', '미세먼지'].corr()

In [ ]:
2)Pandas 내장 그래프
matplotlib 라이브러리 기능의 일부
plot() 시각화 내장 함수 이용

In [3]:
!apt -qq -y install fonts-nanum

The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 34 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Selecting previously unselected package fonts-nanum.
(Reading database ... 160690 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...

In [5]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family="NanumBarunGothic")
mpl.font_manager._rebuild()

In [7]:
import pandas as pd
data = pd.read_csv(~~)
data.columns=['','']
p_data = data.iloc[:, 5:]
p_data.plot() #선그래프

b_data.plot(kind='bar') #막대그래
kind='hist' #히스토그램
data.plot(x='미세먼지', y='초미세먼지', kind='scatter') #산점도
data(['미세먼지', '초미세먼지'].plot(kind='box')) #박스플롯 /??....

SyntaxError: ignored

In [9]:
#중복데이터처리
import pandas as pd
dataSet= pd.DataFrame({'c1':['a','a','b','a','b'],
                       'c2':[1,1,1,2,1],
                       'c3':[1,1,2,2,2]})
dataSet_dup = dataSet.duplicated()
print(dataSet_dup)

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [10]:
c3_dup = dataSet['c3'].duplicated()
print(c3_dup)

0    False
1     True
2    False
3     True
4     True
Name: c3, dtype: bool

In [12]:
#제거
dataSet2=dataSet.drop_duplicates()
print(dataSet2)

dataSet_sub = dataSet.drop_duplicates(subset=['c2','c3'])
print(dataSet_sub)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2