<a href="https://colab.research.google.com/github/juri123123/DALC_Scala/blob/main/DALC_scalar6__pandas_%EC%8B%AC%ED%99%94_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주관식
셀을 더블클릭해서  : 다음에 답을 입력하세요.

* 데이터프레임 file의 클래스유형:(답은 여기에 작성)
* 측정일시의 자료형:
* 전체 데이터프레임의 자료형은 어떻게 구성되어있나(정수형?개,실수형?개,문자형?개):
* 메모리 사용량:

* value_counts()코드작성 결과 왼쪽숫자와 오른쪽숫자는 무엇을 의미하는가 :

* min,max,std 같은 통계함수 반환결과는 어떤객체로 반환되는가?:

* 그래프를 만들기 위해 pandas내장 그래프인 plot()내장함수를 사용할때 , 히스토그램 그래프를 만들기 위한 kind값은:

* 데이터레코드는 무엇은 뜻하는가:
* 중복된 데이터셋이 존재할 경우 분석결과에 어떤 영향이있나:

* 중복된 데이터셋이 있을경우 true로 반환되는가 false로 반환되는가?

# Pandas 심화실습
* 파일읽기와 쓰기
* 데이터프레임 구조
* 통계 함수 

해당 질문 밑에 있는 코드셀에 코드를 입력하세요

# csv파일

* 판다스,넘파이 임포트하기

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

* (성북구)서울생활인구 일별 집계표를 read_csv()함수로 file변수에 저장해라

In [3]:
file=pd.read_csv('/content/drive/MyDrive/(성북구) 서울생활인구 일별 집계표.csv',header=None,encoding='euc-kr')
file

            0      1     2   ...           12              13            14
0        기준일ID  시군구코드  시군구명  ...     서울외유입인구수  동일자치구행정동간이동인구수     자치구간이동인구수
1     20210425  11290   성북구  ...  20646.80240     91937.32060   55776.95080
2     20210424  11290   성북구  ...  22332.52960     88407.36780   62452.17210
3     20210423  11290   성북구  ...  22768.37600     93289.93880   76926.18900
4     20210422  11290   성북구  ...  23795.99210     94515.73460   79166.29070
...        ...    ...   ...  ...          ...             ...           ...
1098  20180409  11290   성북구  ...  30769.73320    103022.83580  106705.06490
1099  20180408  11290   성북구  ...  24703.28610     98189.04260   70396.93210
1100  20180407  11290   성북구  ...  26331.93420     95319.36890   74564.74500
1101  20180406  11290   성북구  ...  27578.37090     99137.54820   99422.38170
1102  20180405  11290   성북구  ...  29719.85340    101150.79300  104208.28520

[1103 rows x 15 columns]

In [4]:
file=file.drop([2],axis=1)
file=file.drop([0],axis=0)
file.columns=['기준일ID', '시군구코드', '총생활인구수', '내국인생활인구수', '장기체류외국인인구수', '단기체류외국인인구수', '일최대인구수', '일최소인구수', '주간인구수', '야간인구수', '일최대이동인구수', '서울외유입인구수', '동일자치구행정동간이동인구수', '자치구간이동인구수']

* 데이터프레임 file의 앞에 5줄 데이터 조회

In [5]:
print(file.head(5))

      기준일ID  시군구코드        총생활인구수  ...     서울외유입인구수 동일자치구행정동간이동인구수    자치구간이동인구수
1  20210425  11290  443639.45680  ...  20646.80240    91937.32060  55776.95080
2  20210424  11290  437840.32410  ...  22332.52960    88407.36780  62452.17210
3  20210423  11290  435185.36780  ...  22768.37600    93289.93880  76926.18900
4  20210422  11290  438600.35210  ...  23795.99210    94515.73460  79166.29070
5  20210421  11290  439620.82590  ...  24139.00400    95286.48550  80989.71480

[5 rows x 14 columns]

* 데이터프레임 file의 뒤에 5줄 데이터 조회

In [6]:
print(file.tail(5))

         기준일ID  시군구코드        총생활인구수  ...     서울외유입인구수 동일자치구행정동간이동인구수     자치구간이동인구수
1098  20180409  11290  476114.24590  ...  30769.73320   103022.83580  106705.06490
1099  20180408  11290  477840.49290  ...  24703.28610    98189.04260   70396.93210
1100  20180407  11290  466144.52940  ...  26331.93420    95319.36890   74564.74500
1101  20180406  11290  469243.02000  ...  27578.37090    99137.54820   99422.38170
1102  20180405  11290  477444.98960  ...  29719.85340   101150.79300  104208.28520

[5 rows x 14 columns]

* 데이터프레임 file의 앞에 10줄 데이터 조회

In [7]:
print(file.head(10))

       기준일ID  시군구코드        총생활인구수  ...     서울외유입인구수 동일자치구행정동간이동인구수    자치구간이동인구수
1   20210425  11290  443639.45680  ...  20646.80240    91937.32060  55776.95080
2   20210424  11290  437840.32410  ...  22332.52960    88407.36780  62452.17210
3   20210423  11290  435185.36780  ...  22768.37600    93289.93880  76926.18900
4   20210422  11290  438600.35210  ...  23795.99210    94515.73460  79166.29070
5   20210421  11290  439620.82590  ...  24139.00400    95286.48550  80989.71480
6   20210420  11290  439129.50660  ...  23696.82220    95415.24410  80379.40850
7   20210419  11290  439863.02470  ...  22334.97850    96001.37290  77991.72340
8   20210418  11290  446964.27350  ...  19958.70620    92165.15530  57251.63430
9   20210417  11290  443367.24500  ...  21767.26460    89067.68400  61809.37910
10  20210416  11290  438868.27820  ...  21812.91260    93713.39440  76463.14590

[10 rows x 14 columns]

#  데이터 요약정보 확인하기

* 데이터프레임 모양과 크기 확인

In [8]:
print(file.shape)

(1102, 14)

* 데이터프레임 기본정보 조회

In [9]:
print(file.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1102 entries, 1 to 1102
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   기준일ID           1102 non-null   object
 1   시군구코드           1102 non-null   object
 2   총생활인구수          1102 non-null   object
 3   내국인생활인구수        1102 non-null   object
 4   장기체류외국인인구수      1102 non-null   object
 5   단기체류외국인인구수      1102 non-null   object
 6   일최대인구수          1102 non-null   object
 7   일최소인구수          1102 non-null   object
 8   주간인구수           1102 non-null   object
 9   야간인구수           1102 non-null   object
 10  일최대이동인구수        1102 non-null   object
 11  서울외유입인구수        1102 non-null   object
 12  동일자치구행정동간이동인구수  1102 non-null   object
 13  자치구간이동인구수       1102 non-null   object
dtypes: object(14)
memory usage: 129.1+ KB
None

* 데이터프레임의 각열의 자료형 확인

In [10]:
print(file.dtypes)

기준일ID             object
시군구코드             object
총생활인구수            object
내국인생활인구수          object
장기체류외국인인구수        object
단기체류외국인인구수        object
일최대인구수            object
일최소인구수            object
주간인구수             object
야간인구수             object
일최대이동인구수          object
서울외유입인구수          object
동일자치구행정동간이동인구수    object
자치구간이동인구수         object
dtype: object

* '일최대이동인구수' 열에 대해 dtypes속성 적용

In [11]:
print(file.일최대이동인구수.dtypes)

object

* 데이터프레임의 기술통계정보를 보여라

In [12]:
print(file.describe())

           기준일ID  시군구코드        총생활인구수  ...     서울외유입인구수 동일자치구행정동간이동인구수    자치구간이동인구수
count       1102   1102          1102  ...         1102           1102         1102
unique      1102      1          1102  ...         1102           1102         1102
top     20200728  11290  449996.14360  ...  23673.25400    95319.36890  60123.61010
freq           1   1102             1  ...            1              1            1

[4 rows x 14 columns]

* 각 열의 데이터 개수 확인하는 코드 작성

In [13]:
print(file.count())

기준일ID             1102
시군구코드             1102
총생활인구수            1102
내국인생활인구수          1102
장기체류외국인인구수        1102
단기체류외국인인구수        1102
일최대인구수            1102
일최소인구수            1102
주간인구수             1102
야간인구수             1102
일최대이동인구수          1102
서울외유입인구수          1102
동일자치구행정동간이동인구수    1102
자치구간이동인구수         1102
dtype: int64

* '일최대이동인구수'열의 고유값 개수 확인하는 코드 작성

In [14]:
print(file.일최대이동인구수.count())

1102

# 통계함수

* file데이터프레임의 평균값 계산해라

In [15]:
file.mean()

Series([], dtype: float64)

In [16]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 34 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [17]:
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

* '일최대이동인구수'열의 평균을 계산해라

In [18]:
file['일최대이동인구수'].mean()

TypeError: ignored

* file데이터프레임의 중간값을 확인해라

In [ ]:
file.median()

* '일최대이동인구수'열의 중간값을 확인해라

* file데이터프레임의 최대값을 계산해라

In [ ]:
file.max()

* '일최대이동인구수'열의 최대값을 계산해라

* file데이터프레임의 최솟값을 계산해라

In [ ]:
file.min()

* '일최대이동인구수'열의 최솟값을 계산해라

* file데이터프레임의 표준편차를 계산해라

In [ ]:
file.std()

* '일최대이동인구수'열의 표준편차를 계산해라

* '자치구간이동인구수''와 '일최대이동인구수'의 상관계수를 계산해라

In [ ]:
file['자치구간이동인구수','일최대이동인구수'].corr()

# Pandas 심화(2)
* 판다스 내장 그래픽 활용
* 중복 데이터 처리

* matplotlib라이브러리호출 (mpl로 약칭)

In [ ]:
import matplotlib as mpl

* matplotlib라이브러리의 pyplot함수 호출 (plt로 약칭)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data=file.iloc[:, 4:]

* data의 선그래프 그리기

In [ ]:
data.plot()

* data의 히스토그램 그리기

In [ ]:
data.plot(kind='hist')

* data의 자치구간이동인구수와 일최대이동인구수 산점도 그리기

* data의 자치구간이동인구수와 일최대이동인구수 박스플롯 그리기

* 위의 코드 결과 미세먼지와 초미세먼지중 평균이 높은것은?:(답은 여기에 작성)

# 중복 데이터 처리

* 다음 사진과 같이 데이터프레임을 생성해라

![캡처.PNG]()

* 중복 데이터 확인해라(이전행과 현재행 비교)

In [ ]:
dataSet= pd.DataFrame({'A':['a','a','b','a','b'],
                       'B':[1,1,1,2,1],
                       'C':[1,1,2,2,2]})
print(dataSet)
dataSet_dup = dataSet.duplicated()
print(dataSet_dup)

* 중복 데이터를 삭제하고 고유한 값만을 가지 행들만 남겨라(원본에 저장)

In [ ]:
dataSet2 = dataSet.drop_duplicates()
print(dataSet2)

* B열과 C열기준으로 중복 여부를 판단해라

In [ ]:
dataSet_sub = dataSet.drop_duplicates(subset=['B','C'])
print(dataSet_sub)